@import "Common/Styles/extends";

.authorization {
  @extend %v-center;

  position: relative;
  height: 100%;
  background: linear-gradient(
    -55deg,
    #373739 5px,
    #a9aeb7,
    #a2a3a6,
    #cacaca,
    rgb(130 128 131)
  );
}
